
<section class="case-study">
	<img src="{{ 'open-zfs-logo.png' | asset_url }}" alt="case study image" class="case-study__image--preview"/>
	<h3 class="heading">identity</h3>
	<p>
		Working with <a href="http://fffunction.co">fffunction</a> I worked on the logo for OpenZFS an open source file system with the capability to handle zettabytes of information. A zettabyte is 10<sup>21</sup> bytes and 10<sup>21</sup> also happens to be the estimated number of grains of sand on earth. The logo contains an hourglass form comprised of one set of 10 dots and another or 21 contained within an abstracted Z form.
	</p>

	<a href="identity" alt="Identity process">Find out more</a>
</section>