<div class="module__container module__container--alt">
	<h2 class="heading">conversations with vim</h2>
	<p>If you have a project or idea that I could help with, I'd love to hear from you. </p>
		<p>Here are some ways you can find me: </p>
	
	<div class="row contact">
		<div class="row__colspaced">
			<div class="colspan8-5 colspan12-7 as-grid with-gutter ">
				<a class="contact__social-link" href="mailto:enquiries@withvim.co.uk">email</a>
			</div>
			<div class="colspan8-3 colspan12-5 as-grid with-gutter ">
				<a class="contact__social-link" href="http://twitter.com/martincoote">twitter</a>
			</div>
		</div>
	</div>
</div>
