<div class="module__container module__container--footer">
	<p class="footer__content">Vim is the trading name of Martin Coote. All content &copy Martin Coote 2014. Built using <a href="http://sass.fffunction.co/">Sassaparilla</a> by <a href="http://fffunction.co/">fffunction</a>, processed and hosted using <a href="http://mixture.io">Mixture</a>.
	</p>
</div>