	<header class="header module__container">
		
		
		<h1 class="header__logo">Vim</h1>
		
		<h2 class="heading header__strapline">Design with vim</h2>

		<p>
			My name is Martin Coote and I am a graphic designer with vim. I have been working the design industry for  ten years, primarily in print design and production but increasingly in brand identity and digital design.
		</p>
	</header>