	<header class="header module__container">
		
		<h1 class="header__logo">Vim</h1>

		<h2 class="heading header__strapline">identity with vim</h2>

		<p>
			Identity is a major part of my work as a designer, here I outline my process with examples to illustrate each step. Each project is unique, however, and I always endevour to find the right fit for each client.
		</p>
	</header>