
<div class="module__container ">

	<h2 class="heading">Research</h2>
	
	<div class="row identity">
		<div class="as-grid colspan12-8 image-block">
			<img src="{{ 'pinterest.png' | asset_url }}" alt="pinterest research" class="identity__image"/>
			<p class="identity__image--caption"> Visual design research using pinterest </p>
		</div>

		<div class="as-grid push12-1 colspan12-3 copy-block">
			<p>
				Identifying the audience for the identity is key as is identifying the environment the brand will inhabit. Research is key to finding out about both the of these areas, as well as making early forays into design idiom and form. This is carried out by conversation with the client, my own research and opinion regarding audience and informal exploration of design styles.
			</p>			
		</div>
	</div>
	

</div>

<div class="module__container module__container--alt ">

	<h2 class="heading">Sketching</h2>
	
	<div class="row identity">
		<div class="as-grid colspan12-3 copy-block">
			<p>
				Sketching is often one of the most important steps in defining the concepts at play in the identity. By stepping away from the computer the focus of the sketch work is about defining the semantic meaning of the logo or type marque and less on the surface sheen and finish. It is also a fast way of exploring many different ways of tackling the design problem and finding a way towards a solution.
			</p>
		</div>

		<div class="as-grid colspan12-8 push12-1 image-block">
			<img src="{{ 'zfs-sketch.png' | asset_url }}" alt="concept sketches" class="identity__image"/>
			<p class="identity__image--caption"> Sketches exploring early ideas for the Open ZFS brand </p>
		</div>
	</div>

</div>

<div class="module__container ">

	<h2 class="heading">Approaches</h2>
	
	<div class="row identity">
		<div class="as-grid colspan12-8 image-block">
			<img src="{{ 'dig-approaches.png' | asset_url }}" alt="logo approaches in progress" class="identity__image"/>
			<p class="identity__image--caption">A number of possible routes for the Dig Inclusion identity being worked up in Adobe Illustrator</p>
		</div>

		<div class="as-grid push12-1 colspan12-3 copy-block">
			<p>
				From out of the sketches a number, often three or more, of approaches will emerge. In discussion with the client one or two are selected for development and at this point they are taken into the digital realm and worked up as vectors.
			</p>
		</div>
	</div>

</div>

<div class="module__container module__container--alt ">

	<h2 class="heading">Refinement</h2>
	
	<div class="row identity">

		<div class="as-grid colspan12-3">
			<p>
				At this point a final approach is chosen and colour and supporting elements are explored, this step can often blend with design concepts for a website or printed materials if these are also being produced for the client.
			</p>
		</div>

		<div class="as-grid push12-1 colspan12-8">
			<img src="{{ 'flourish-colours.png' | asset_url }}" alt="colour wheels" class="identity__image"/>
			<p class="identity__image--caption">Colour and supporting design elements are explored</p>
		</div>

	</div>

</div>


<div class="module__container ">

	<h2 class="heading">Delivery</h2>
	
	<div class="row identity">
		<div class="as-grid colspan12-8">
			<img src="{{ 'logo-selection.png' | asset_url }}" alt="A selection of logo marques" class="identity__image"/>
			<p class="identity__image--caption">A selection of identity marques designed with vim</p>
		</div>

		<div class="as-grid push12-1 colspan12-3">
			<p>
				Once the final marque is chosen I produce a full asset pack for the client with logos in a number of different file formats and variations. An accompanying identity guidelines document is produced to help ensure future applications of the identity are consistent.
			</p>
		</div>
	</div>

</div>
