<div class="module__container">
	<h2 class="heading">services with vim</h2>

	<div class="row">

		<div class="row__colspaced">

			<div class="colspan1-1 colspan8-4 colspan12-4 as-grid with-gutter">
				{% include "services/brand" %}
			</div>

			<div class="colspan1-1 colspan8-4 colspan12-4 as-grid with-gutter">
				{% include "services/web" %}
			</div>

			<div class="colspan1-1 colspan8-4 push8-2 push-disable12 colspan12-4 as-grid with-gutter">
				{% include "services/print" %}
			</div>
		</div>

	</div>

</div>