// ------------------------------------------------------------
// base modules 
// ------------------------------------------------------------

.module__container {
	text-align: center;
		@include module-padding;

}

.module__container--alt {
	background-color: white;
}

.module__container--footer {
	background-color: $primary;
	padding-top:1.5em;
}

.heading {
	display: inline-block;
	color: $secondary;
	border-color: $primary;
	padding: $internal-spacing*0.25 $internal-spacing*0.75;
	font-size: $gamma;

		@include heading-borders;
		@include auto-margins;
		@include margin-trailer (8);
		@include clearfix;


	@media (max-width: $e-vp) {
		font-size: $delta;
	}

	@media (max-width: $c-vp) {
		font-size: $zeta;
		min-width:25%;
	}
}

.image-block {
	@media (max-width: $e-vp) {
		float:left;
	}
}

.copy-block {
	@media (max-width: $e-vp) {
		float: right;
	}

}
