// ------------------------------------------------------------
// Case-studies module 
// ------------------------------------------------------------


.case-study {
	line-height: $gamma;
	@include margin-leader(8);
	@include margin-trailer(8);

	sup {
		baseline-shift: super;
	}

}

.case-study__image--preview {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: 1px solid $secondary;
	border-radius: 50%;
		@include margin-trailer(8);

	@media (max-width: $c-vp) {
		width: 80%;
	    height: 80%;
	}

}

.case-study__title {
	@include heading-borders;
	padding: $internal-spacing*0.5;
	font-size: $gamma;
	width: 40%;
}