// ------------------------------------------------------------
// contact module 
// ------------------------------------------------------------

.contact {
	text-align: left;
	@include margin-leader(8);
}

.contact__social-link {
	border-radius: 0.25em;
	font-size: $beta;
	color: $tertiary;
	text-align: center;
	width: 100%;
	float: left;
	background-color: $primary; 
	width:100%;
	height:100%;
	padding: $internal-spacing*0.25;
		@include margin-trailer(4);

		@media( max-width: $c-vp) {
			font-size: $epsilon;

		}


	&:hover {
		color: $tertiary;
		background-color: $secondary; 
	}
}