//----------------
// Footer styles 
//----------------

.footer__content {
	color: $tertiary;
	font-size: $theta;


	a {
		color: $tertiary;
		text-decoration: underline;

		&:hover {
			color: white;
		}
	}
}