// ------------------------------------------------------------
// Header module 
// ------------------------------------------------------------

.header {
	text-align: center;
	display: block;
	width:100%;
	background: $primary;
	color: $body-color;
	@include module-padding;

	a {
		color: $tertiary;
		text-decoration: underline;

		&:hover {
			color: white;
		}
	}
}

.header__logo {
	text-indent:-99999px;
	margin: 0 auto;
	height:110px;
	background: url('../svg/vim-logo.svg') no-repeat center ;
	background-size: auto 100%;

		@include margin-trailer (10);
		

	@media (max-width: $e-vp) {
		height:90px;
		background-size: auto 100%;
	}

	@media (max-width: $c-vp) {
		height:70px;
		background-size: auto 100%;
	}
}

.header__strapline {
	color: $tertiary;
	border-color: $tertiary;
}

