// ------------------------------------------------------------
// Header module 
// ------------------------------------------------------------

.identity {
	text-align: left;

}

.identity__image {
	width: 100%;
	background-color: #fff;
	border: 1px solid $secondary;
	border-radius: 0.5em;
		@include margin-trailer(2);
	}

.identity__image--caption {
	color: $secondary;
	font-size: $theta;
}

.identity p {
	@include margin-trailer(6);

}


// todo: make images appear abouve paragraph on small screens


// .identity__image--first {
// 	@include respond-to($e-vp) {
// 		float: left;

// 	}
// }
