{% block styles %}{{ "screen.css" | asset_url | stylesheet_tag }}{% endblock %}

{% block content %}

<div>

	{% include "header" %}

	{% include "services" %}

	{% include "contact" %}

	{% include "footer" %}


</div>

{% endblock %}